.Button {
    background-color: #ffc400 !important;
    border: 1px solid transparent !important;
    border-radius: 3px !important;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset !important;
    box-sizing: border-box !important;
    height: max-content !important;
    width: max-content !important;
    color: #fff !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 1.15385 !important;
    margin: 0 !important;
    outline: none !important;
    padding: 5px 12px 7px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: manipulation !important;
    vertical-align: baseline !important;
    white-space: nowrap !important;
}
.Button2{
    background-color: #ff1100 !important;
    border: 1px solid transparent !important;
    border-radius: 3px !important;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset !important;
    box-sizing: border-box !important;
    height: max-content !important;
    width: max-content !important;
    color: #fff !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 1.15385 !important;
    margin: 0 !important;
    outline: none !important;
    padding: 5px 12px 7px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: manipulation !important;
    vertical-align: baseline !important;
    white-space: nowrap !important;
}
.Button3{
    background-color: #3f4140 !important;
    border: 1px solid transparent !important;
    border-radius: 3px !important;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset !important;
    box-sizing: border-box !important;
    height: max-content !important;
    width: max-content !important;
    color: #fff !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 1.15385 !important;
    margin: 0 !important;
    outline: none !important;
    padding: 5px 12px 7px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: manipulation !important;
    vertical-align: baseline !important;
    white-space: nowrap !important;
}
.Button:hover,
.Button:focus {
    background-color: #07c !important;
}

.Button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15) !important;
}

.Button:active {
    background-color: #0064bd !important;
    box-shadow: none !important;
}
